@{
	ViewData["Title"] = "Početna Stranica";
}

<header>
	<h1>Dobrodošli u naš autosalon!</h1>
</header>
<section class="support-section">
	<h2>Brza Podrška</h2>
	<p>Imate hitno pitanje? Koristite našu opciju koja je dostupna 24/7. Naš tim je tu da vam odmah pomogne!</p>
	<a href="mailto:autosalon@autosalon.com?subject=Pitanje o vozilu&amp;body=Unesite vaše pitanje ovdje." class="cta-button">Pošaljite poruku</a>
</section>
<section class="container">
	<div class="section">
		<h2>Pronađite Vozilo Iz Snova!</h2>
		<p>U autosalonu AutoZone ponosimo se velikim izborom vozila, od luksuznih automobila do porodičnih vozila, sa specijalnim popustima i akcijama. Bilo da ste u potrazi za vozilom koje će zadovoljiti vaše svakodnevne potrebe ili želite luksuzno vozilo koje pruža vrhunski doživljaj vožnje, kod nas ćete pronaći upravo ono što tražite.</p>
	</div>
	<div class="section">
		<h2>Zašto Izabrati Nas?</h2>
		<ul>
			<div><strong>Veliki izbor vozila:</strong> Najnoviji modeli, od standardnih automobila do luksuznih modela.</div>
			<div><strong>Pristupačne cijene:</strong> Povoljne cijene i opcije za plaćanje na rate.</div>
			<div><strong>Brza i laka kupovina:</strong> Jednostavan proces od pregleda do kupovine vozila.</div>
			<div><strong>Podrška 24/7:</strong> Naš tim je uvijek tu da vam pomogne i odgovori na sva pitanja.</div>

		</ul>
	</div>
</section>

@section Scripts {
}
